.admin-table {
	box-sizing: border-box;
	width: 95%;
}

.admin-table thead, .admin-table tbody {
	width: 100%;
}

.pure-form {
	padding: 20px;
}

.pure-form > div {
	margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
	margin-bottom: 10px;
    border: 1px solid #333;
    color: #333;
	background: #fff;
    display: inline-block;
	text-decoration: none;
}

.button-with-icon .fa {
	margin-right: 5px;
}

.button:hover {
    background: #333;
	color: #fff;
}

.button-disabled, .button-disabled:hover {
	cursor: default;
	background: none;
	color: #aaa;
	border: 1px solid #aaa;
}

.confirmDelete {
	border: 1px solid red;
	color: red;
}

.confirmDelete:hover {
	background: red;
	color: #fff;
}