body {
	font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.admin-nav-sidebar {
	background: #333;
	color: #fff;
	min-height: 100vh;
	box-sizing: border-box;
}

.admin-nav-sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.admin-nav-sidebar li {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.admin-nav-sidebar li a {
	display: block;
	color: #fff;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	background: #222;
	font-family: 'Raleway', Calibri, Arial, sans;
}

.admin-nav-sidebar li a:hover {
	background: rgb(255,217,144);
	color: #333;
}

.admin-header {
	background: #333;
	color: rgb(255,217,144);
	padding-left: 20px;
}

.admin-subheader {
	font-style: italic;
	font-weight: normal;
	margin-right: 20px;
}

.admin-content {
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.admin-table {
	margin-top: 8px;
	box-sizing: border-box;
	width: 100%;
	font-size: 0.9em;
}

.admin-table .good {
	font-weight: bold;
	color: green;
}

.admin-table .bad {
	font-weight: bold;
	color: red;
}

.admin-table thead, .admin-table tbody {
	width: 100%;
}

.pure-form {
	padding: 20px;
}

.pure-form > div {
	margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
	margin: 2px 0;
    border: 1px solid #333;
    color: #333;
	background: #fff;
    display: inline-block;
	text-decoration: none;
}

.button-with-icon .fa {
	margin-right: 5px;
}

.button:hover, .button-selected {
    background: #333;
	color: #fff;
}

.button-disabled, .button-disabled:hover {
	cursor: default;
	background: none;
	color: #aaa;
	border: 1px solid #aaa;
}

.button-green {
	border: 1px solid green;
	color: green;
}

.button-green:hover, .button-green-selected {
	background: green;
	color: #fff;
}

.confirmDelete, .button-red {
	border: 1px solid red;
	color: red;
}

.confirmDelete:hover, .button-red:hover, .button-red-selected {
	background: red;
	color: #fff;
}

.bold {
	font-weight: bold;
}