body {
	font-size: 0.9em;
}

.admin-table {
	box-sizing: border-box;
	width: 95%;
	font-size: 0.9em;
}

.admin-table .good {
	font-weight: bold;
	color: green;
}

.admin-table .bad {
	font-weight: bold;
	color: red;
}

.admin-table thead, .admin-table tbody {
	width: 100%;
}

.pure-form {
	padding: 20px;
}

.pure-form > div {
	margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
	margin-bottom: 10px;
    border: 1px solid #333;
    color: #333;
	background: #fff;
    display: inline-block;
	text-decoration: none;
}

.button-with-icon .fa {
	margin-right: 5px;
}

.button:hover {
    background: #333;
	color: #fff;
}

.button-disabled, .button-disabled:hover {
	cursor: default;
	background: none;
	color: #aaa;
	border: 1px solid #aaa;
}

.button-green {
	border: 1px solid green;
	color: green;
}

.button-green:hover {
	background: green;
	color: #fff;
}

.confirmDelete, .button-red {
	border: 1px solid red;
	color: red;
}

.confirmDelete:hover, .button-red:hover {
	background: red;
	color: #fff;
}

.bold {
	font-weight: bold;
}