div, p, h1, h2, h3, h4, h5, h6, span, a {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
	background: black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #ffd990;
    cursor: pointer;
}

.navbar {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}

.navbar a {
    font-size: 1em;
    font-weight: 300;
    display: inline-block;
    width: 19%;
    color: #fff;
    padding: 20px 0;
}

.navbar a:hover {
    background: rgba(255,217,144,0.3);
}

.navbar .home-a {
    background: url('../img/logo-short-white.png') no-repeat center center;
    background-size: contain;
}

.navbar .home-a:hover {
    background: url('../img/logo-short-white.png') no-repeat center center, rgba(255,217,144,0.3);
    background-size: contain;
}

.hero {
    position: relative;
}

.hero-full-screen {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-content {
    padding: 0 5%;
    color: #fff;
    z-index: 10;
}

.hero-committee-member {
    z-index: 10;
    margin-top: 5vh;
    position: relative;
    border-radius: 5px;
}

.committee-member-desc {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.7);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
}

.committee-member-desc h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.committee-member-desc p {
    margin-top: 5px;
	box-sizing: bborder-box;
	padding-left: 10px;
	padding-right: 10px;
}

.committee-member-desc i {
    margin: 0 10px;
}

.news-item {
    z-index: 10;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}

.news-item .news-image {
    min-height: 100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.news-item .news-image, .news-item .news-snippet {
    position: relative;
}

.news-item .news-snippet {
    box-sizing: border-box;
    text-align: left;
    padding: 10px 20px 30px 20px;
}

.news-item .news-snippet .news-details {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #888;
    font-size: 0.8em;
    font-style: italic;
}

.news-overlay {
    z-index: 11;
    position: absolute;
    width: 100%;
    padding: 20px 0;
    background: rgba(0,0,0,0.7);
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 4px;
}

.hero-bottom {
    position: absolute;
    bottom: 30px;
}

.hero-home-1 {
    background: url('../img/home-1-bg.png') no-repeat fixed center center;
    background-size: cover;
    padding-top: 25vh;
}

.home-2, .home-4 {
    padding: 5vh 0;
    font-size: 1.5em;
}

.hero-home-3 {
    background: url('../img/home-3-bg-blur.png') no-repeat fixed center center;
    background-size: cover;
    padding: 10vh 0;
}

.home-4 h1 {
    font-style: italic;
}

.hero-news {
    background: url('../img/home-3-bg-blur.png') no-repeat fixed center center;
    background-size: cover;
    padding: 10vh 0;
}

.hero-news .hero-title, .hero-classes .hero-title {
    margin-bottom: 30px;
}

.hero-classes {
    background: url('../img/home-1-bg-blur.png') no-repeat fixed center center;
    background-size: cover;
    padding: 10vh 0;
}

.attendee-img {
	border-radius: 5px;
	margin-right: 10px;
}

.quote {
    display: none;
    vertical-align: middle;
}

.hero-home-5 {
    background: url('../img/home-5-bg.jpg') no-repeat fixed center center;
    background-size: cover;
    padding: 10vh 0;
}

.center {
    text-align: center;
}

.main-logo {
    max-width: 100%;
}

.gradient-overlay {
    background: linear-gradient(to top,rgba(255,217,144,0.4),rgba(0,0,0,0.2));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.block-overlay {
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.button {
    color: #fff;
    padding: 10px 20px;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid #fff;
    display: inline-block;
}

.button-on-white {
	background: #fff;
    border-color: #333;
    color: #333;
}

.button:hover {
    color: #333;
    background: #ffd990;
    border-color: #ffd990;
}

.button-disabled, .button-disabled:hover {
	cursor: default;
	background: none;
	color: #aaa;
	border: 1px solid #aaa;
}

.hero-content .button {
    font-size: 1.3em;
    font-weight: 300;
    max-width: 500px;
    width: 40%;
    margin: 0 20px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.gold-background {
    background: rgb(255,217,144);
}

.footer {
    background: #000;
    color: #fff;
    padding: 20px;
    font-size: 0.8em;
}

.italic {
    font-style: italic;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.public-table {
	box-sizing: border-box;
	width: 100%;
	font-size: 0.9em;
}

.public-table .good {
	font-weight: bold;
	color: green;
}

.public-table .bad {
	font-weight: bold;
	color: red;
}

.public-table thead, .public-table tbody {
	width: 100%;
}